body {
   font-size: 130%;
   font-family: Arial, Helvetica, sans-serif;
   font-style: italic;
   font-weight: bold;
   text-align: center;
  }
  
  
h1{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px; /* points (pt) are used in print, not screen.*/
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid yellowgreen;
    background-color: bisque;
   }

   
a:hover{
    color: greenyellow;
  }
a:visited{
    color: blueviolet;
  }

  ul {
    list-style: none;
  }